@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
  background: url("./media/pic-2.jpg");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.4);
  justify-content: center;
  align-items: center;
}
