@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  margin: 0;
  padding: 0;
  background: url("./media/pic-2.jpg");
  background-size: cover;
  font-family: "Righteous", cursive;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.4);
  justify-content: center;
  align-items: center;
}

.countdown-container {
  display: flex;
  text-align: center;
}

.heading {
  font-size: 2rem;
  margin: 0;
}

.big-text {
  font-size: 4rem;
  line-height: 1;
  margin: 0 2rem;
}

.span-text {
  font-size: 1.5rem;
}

.main-div {
  margin: 0 2px;
  box-sizing: border-box;
}

.seconds-c {
  max-width: 300px;
}
